
.nav-bar{
    display: flex;
    justify-content: center;
 
}

.nav-bar ul{
    display: flex;
    gap: 75px;
    list-style: none;
   
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
       
}

.hero-container{
    display: flex;
    align-items: center;
    margin: 80px;
    gap: 150px;
    padding: 50px;
}

.hero-left{
    margin-left: 150px;
    
}

.hero-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: black;
    
}

.button-cta{
    margin: 15px;
    padding: 10px;
    gap: 30px;
    display: flex;
    align-items: center;

}

.button-cta a{
    display: flex;
    text-decoration: none;
    
    
}

#about{
    margin: 70px;
}


.logo{
    width: fit-content;
    height: 50px;
}

#projects{
    margin: 70px;

}
.project-container{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.project-card{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    padding: 100px;

}
    
#contact{
    margin: 70px;
}



