
body{
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #1a1a1a;
  background-color: var(--bg-main);
}

:root {
  --bg-main: #ffffff;
  --bg-soft: #f7f7f9;
  --text-main: #1a1a1a;
  --text-muted: #555555;
  --accent: #2563eb;
}


h1{
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 16px;
    
}

h2{
    font-size: 2rem;
    margin-bottom: 24px;
}

h3{
    font-size: 1.25rem;
   margin-bottom: 12px;
}

p{
    
    margin-bottom: 16px;
    color:#555555 ;
}

a{
    color:  #2563eb;
}
.page{

    max-width: 1100px;
    margin: 0 auto;
    padding: 24px;
}

section{
    margin-block: 80px;
}
.nav-bar{
    display: flex;
    justify-content: center;
 
}

.nav-bar ul{
    display: flex;
    gap: 75px;
    list-style: none;
   
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.5px;
       
}

/*hero section */

#home{
    display: flex;
    justify-content: space-between;
     align-items: center;
     gap: 32px;
     flex-wrap: wrap;
}

.hero-img{
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.button-container{
    display: flex;
    gap: 40px;
    align-items: center;
    
}

.button-cta{
    display: flex;
    gap: 20px;
    padding: 5px;
    text-transform: capitalize;
    font-weight: 600;
    border: 2px solid var(--accent);
    border-radius: 8px;
    padding: 12px 24px;
}

.hero-right{
    padding-top: 80px;
    
}

.button-cta a{
    text-decoration: none;

}

/*About me Section*/


.technical-skills h3,
.tools h3,
.progress h3 {
  margin-bottom: 12px;
  font-weight: 600;
}

ul {
  padding-left: 20px;
  line-height: 1.6;
}

.skills-container{
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 32px;
 
  

}


/*projects Section*/
.project-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}


.project-card{
   border-radius: 20px;
   background-color: #f7f7f9;
   padding: 80px;
}

.project-card a{
    text-decoration: none;
    color: black;
}


    @media (max-width: 768px){
  #home{
    flex-direction: column;
    text-align: center;
  }

  .nav-bar ul{
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .button-container{
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }

  .hero-img{
    width: 220px;
    height: 220px;
  }

  h1{
    font-size: 2.2rem;
  }

  .project-container{
  grid-template-columns: 1fr;
}

    }









